.nav--tags {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;

  li {
    display: inline-block;

    a {
      display: inline-block;
      margin: 0 5px 5px 0;

      font-size: .9em;
      padding: .25em .45em;
      text-transform: lowercase;
      text-decoration: none;
      color: #fff;
      background: $sch-black;

      &:hover {
        background: $sch-blue;
      }
    }
  }
}
