/*

  NEWSLETTER

  Global newsletter interactions, sign up forms and otherwise

  types
    --signup

*/

/* -----------------------------------------------------
    newsletter--signup
    global sign up form
----------------------------------------------------- */
.newsletter--signup {
  background: #ff8300;
  position: relative;
  padding: 20px 20px 30px 20px;
  margin-top: 20px;

  &:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 100%;
    top: 0;
    background: #ff8300;
  }

  h3 {
    min-height: auto;
    font-size: 1em;
    line-height: 25px;
    margin-bottom: 10px;
    height: 25px;
  }

  p {
    clear: left;
    color: #fff;
    margin: 10px 0 15px 0;
    font-size: .9em;
    font-weight: 500;
  }

  form {
    fieldset {
      margin: 0;
      padding: 0;
      border: 0;
      height: 60px;
      position: relative;
    }

    label {
      display: none;
    }

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      border: 0;
      background: #fff;
      font-size: 1.2em;
      padding: 0 10px;
      border-radius: 0;

      &:focus {
        border: 5px solid $sch-blue;
        outline: 0;
        padding: 0 5px;
      }
    }

    button {
      position: absolute;
      width: 60px;
      height: 60px;
      right: 0;
      top: 0;
      background: $sch-black;
      color: #fff;
      border: 0;
      font-size: 1em;
      cursor: pointer;
      border-radius: 0;
    }

    input:focus + button,
    button:focus {
      outline: 0;
      background: $sch-blue;
    }
  }

  @include bp-large {
    margin-top: 40px;

    button {
      font-size: 1.5em !important;
    }
  }

  @include bp-mobile {
    &:after {
      display: none;
    }
  }
}
