.pagination, .wh-search-paginate {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    display: inline-block;
    height: 40px;
    min-width: 40px;
    vertical-align: top;
    text-align: center;
    line-height: 40px;
    margin: 0 5px 5px 0;

    a {
      display: block;

      min-width: 40px;
      height: 40px;

      color: #fff;
      text-decoration: none;

      background: $sch-black;

      &:hover {
        background: $sch-blue;
      }
    }

    &.pagination__item--current a {
      background: $sch-blue;
    }

    &.pagination__item--prev,
    &.pagination__item--next {
      line-height: 36px;

      a {
        padding: 0 .5em;

        span {
          text-transform: uppercase;
          font-size: .8em;
          line-height: 40px;
        }
      }

      i {
        font-size: .75em;
      }
    }
  }

  @include bp-mobile {
    li {
      display: none;
    }

    li.pagination__item--prev,
    li.pagination__item--next {
      display: inline-block;
      width: 50%;
      margin: 0;

      &:only-child {
        width: 100%;

        a {
          margin: 0;
        }
      }
    }

    li.pagination__item--next {
      float: right;
    }

    li.pagination__item--prev a {
      text-align: left;
      margin-right: 5px;
    }

    li.pagination__item--next a {
      text-align: right;
      margin-left: 5px;
    }
  }
}
