.post--list-item {
  padding-bottom: 2em;
  position: relative;
  text-decoration: none;

  * {
    text-decoration: none;
  }

  .post--list-header {
    display: block;
    position: relative;
  }

  .post--list-image {
    display: block;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    padding-top: 66.216216216%;
    margin-bottom: .8em;
    text-decoration: none;
    background: url(/images/loading.gif) no-repeat 50% 50%;
    background-size: 64px 64px;

    img {
      position: absolute;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      display: block;
    }
  }

  .post--list-title {
    text-decoration: none;
    position: absolute;
    bottom: 80px;
    left: 20px;
    z-index: 2;
    max-width: 75%;

    @include bp-medium {
      bottom: 80px;
      left: 30px;
    }

    h1 {
      position: relative;
      margin: 0;  
      font-size: 2em;
  
      span {
        background: #fff;
        color: $sch-black;
        padding: 5px 0;
        line-height: 1.1em;
        box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
        color: #fff;
  
        &:after {
          content: attr(title);
          color: $sch-black;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }

    .post--meta-category {
      position: absolute;
      display: block;

      background: $sch-blue;
      color: #fff;

      height: 26px;
      top: -33px;
      left: -10px;
      padding: 0 7px;

      text-transform: uppercase;
      line-height: 26px;      
      font-size: 14px;
      font-style: normal;
    }   
  }

  .post--list-desc {
    position: relative;
    z-index: 2;
    margin: -70px 20px 0 20px;
    background: #fff;
    padding: 15px;
    font-size: 1.1em;
    line-height: 1.5em;
    color: #222;
    border-top: 5px solid #ccc;
  }

  .post--button {
    margin: .75em 0 1.5em 0;
  }

  .post--list-meta {
    line-height: 40px;
    color: #888;
    font-size: .9em;
    padding: 10px 0 40px 20px;

    img {
      border-radius: 100%;
      vertical-align: middle;
      margin: 0 5px 0 15px;
      width: 40px;
      height: 40px;
    }

    em {
      color: #1a1a1a;
      font-style: normal;
    }
  }

/* mini version of list */
}

.post--list {
  margin: 0;
  padding: 0;
  list-style: none;

  &.__mini {
    clear: left;

    li {
      padding-bottom: 20px;

      img {
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 10px;
      }

      a {
        display: block;
        overflow: hidden;
        text-decoration: none;

        > h1, > p, > .btn {
          margin-left: 110px;
        }

        .btn {
          display: none;
        }

        > h1 {
          font-size: 1.4em;
          margin-left: 110px;
        }

        > h2 {
          font-size: .85em;
          margin: -.5em 0 1em 110px;
          text-transform: Capitalize;
        }

        > p {
          margin-bottom: 0;
          line-height: 1.3em;
          font-size: .9em;
        }

        &:hover {
          background: #f9f9f9 !important;
          outline: 10px solid #f9f9f9;
        }

        .post--list-desc {
          display: none;
        }

        @include bp-large {
          .post--list-desc {
            display: block;
          }
        }
      }

      &:last-child {
        padding-bottom: 0 !important;
      }

      @include bp-large {
        padding-bottom: 40px;
      }
    }


    & + .paginator {
      margin-top: 20px;

      @include bp-medium {
        margin-top: 40px;
      }
    }

  }

/* micro version of list */
  &.__micro {
    overflow: hidden;

    li {
      padding: 0 0 15px 0;
    }

    a {
      text-decoration: none;
    }

    .post--list-title {
      display: block;
      overflow: hidden;
      color: #999;
      padding: 0 0 5px 0;

      .post--list-meta-date {
        width: 70px;
        padding: .25em 0;
        margin: 0 0 .25em 0;
        float: left;
        background: #000;
        text-align: center;
        font-size: .8em;
        color: #999;
        font-style: normal;
        font-weight: 500;
      }

      h4 {
        text-transform: none;
        margin: 0 0 0 80px;
        color: #999;
        font-size: .85em;
        font-weight: 500;
      }

      &:hover {
        .post--list-meta-date {
          background: $sch-blue;
          color: #fff;
        }

        h4 {
          color: #fff;
        }
      }
    }
  }
}

h1.pill + .post--list {
  clear: left;
}


h2.pill + .post--list {
  clear: left;
}
