.post--list-item {
  margin-bottom: 1em;
  position: relative;
  text-decoration: none;
  display: block;
  clear: left;

  * {
    text-decoration: none;
  }

  .post--list-header {
    display: block;
    position: relative;
  }

  .post--list-image {
    display: block;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    padding-top: 66.216216216%;
    margin-bottom: .8em;
    text-decoration: none;
    background: url(/images/loading.gif) no-repeat 50% 50%;
    background-size: 64px 64px;
    overflow: hidden;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
    }
  }

  .post--list-desc {
    position: relative;
    z-index: 2;
    margin: -40px 10px 0 10px;
    background: #fff;
    padding: 7px 10px 10px 10px;
    font-size: 1em;
    line-height: 1.5em;
    color: $sch-black;
    border-top: 3px solid $sch-black;

    @include bp-medium {
      margin: -70px 20px 0 20px;
      padding: 15px;
      border-top: 5px solid $sch-black;
    }

    @include bp-large {
      font-size: 1.1em;
    }
  }

  &:hover .post--list-desc {
    border-color: $sch-blue;
  }

  .post--button {
    margin: .75em 0 1.5em 0;
  }
}

.post--list-meta,
.post--single_authors {
  line-height: 30px;
  color: #888;
  font-size: .9em;
  padding: 10px 0 20px 10px;

  img {
    border-radius: 100%;
    vertical-align: middle;
    margin: 0 5px 0 10px;
    width: 30px;
    height: 30px;
  }

  em {
    color: #1a1a1a;
    font-style: normal;
  }

  @include bp-medium {
    font-size: .9em;
    line-height: 40px;
    padding: 10px 0 20px 20px; 

    img {
      margin: 0 5px 0 15px;
      width: 40px;
      height: 40px;
    }
  }
}

.post--list-title {
  text-decoration: none;
  position: absolute;
  bottom: 50px;
  left: 20px;
  z-index: 2;
  max-width: 75%;

  @include bp-medium {
    bottom: 80px;
    left: 30px;
  }

  h1 {
    position: relative;
    margin: 0;  
    font-size: 1.25em;

    span {
      background: #fff;
      color: $sch-black;
      padding: 5px 0;
      line-height: 1.1em;
      box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
      color: #fff;

      &:after {
        content: attr(title);
        color: $sch-black;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    @include bp-medium {
      font-size: 1.5em;
    }

    @include bp-large {
      font-size: 2em;
    }
  }

  .post--meta-category {
    position: absolute;
    display: block;

    background: $sch-blue;
    color: #fff;

    height: 26px;
    top: -33px;
    left: -10px;
    padding: 0 7px;

    text-transform: uppercase;
    line-height: 26px;      
    font-size: 14px;
    font-style: normal;
  }   
}

.post--list {
  margin: 0;
  padding: 0 20px;
  list-style: none;

  &.__mini {
    clear: left;

    li {
      display: block;

      picture {
        position: absolute;
        top: 0;
        left: 0;
      }

      img {
        width: 100%;
      }
      
      a {
        display: block;
        overflow: hidden;
        text-decoration: none;
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 66.216216216%;
        margin: 0;

        &:hover {
          box-shadow: 0 0 0 5px $sch-blue;
        }
      }

      &:last-child {
        padding-bottom: 0 !important;
      }

      @include bp-large {
        padding-bottom: 40px;
      }

      .post--list-title {
        bottom: 20px;
      }
    }

    & + .paginator {
      margin-top: 20px;

      @include bp-medium {
        margin-top: 40px;
      }
    }

    @include bp-medium {
      padding: 0;

      li.post--list-item {
        display: inline-block;
        width: 50%;
        padding-right: 5px;
        margin-bottom: 10px;
        padding-bottom: 0;

        .post--list-title {
          left: 20px;
        }

        h1 {
          font-size: 1.1em;
        }

        &:nth-child(2) {
          padding-left: 5px;
          padding-right: 0;
        }
      }
    }
  }

/* micro version of list */
  &.__micro {
    overflow: hidden;
    padding: 0;

    li {
      padding: 0 0 15px 0;
    }

    a {
      text-decoration: none;
    }

    .post--list-title {
      display: block;
      overflow: hidden;
      color: #999;
      padding: 0 0 5px 0;
      position: static;
      max-width: 90%;

      .post--list-meta-date {
        width: 70px;
        padding: .25em 0;
        margin: 0 0 .25em 0;
        float: left;
        background: #000;
        text-align: center;
        font-size: .8em;
        color: #999;
        font-style: normal;
        font-weight: 500;
      }

      h4 {
        text-transform: none;
        margin: 0 0 0 80px;
        color: #999;
        font-size: .85em;
        font-weight: 500;
      }

      &:hover {
        .post--list-meta-date {
          background: $sch-blue;
          color: #fff;
        }

        h4 {
          color: #fff;
        }
      }
    }
  }
}

h1.pill + .post--list {
  clear: left;
}


h2.pill + .post--list {
  clear: left;
}
