/* schmopera branding */
$sch-blue: #02A8E0;
$sch-black: #222;
$sch-yellow: #fb0;

$brand-facebook: #3b5998;
$brand-twitter: #55acee;
$brand-youtube: #b31217;
$brand-soundcloud: #ff8800;
$brand-linkedin: #0976b4;
$brand-instagram: #3f729b;
$brand-web: #4e5860;
