{{/*

  {# ------------------------------------------------------- #}
  {# PARTIAL TEMPLATE: DONATE                                #}
  {# ------------------------------------------------------- #}
  
*/}}

<div class="patreon_floater">
  <p>
    Unlike other sites, we're <strong>keeping Schmopera ad-free</strong>. <span>We want to keep our site clean and our opinions our own.</span> Support us for as little as <strong>$1.00 per month</strong>.</p>
  </p>
  <nav class="nav--donate">
    <a href="https://patreon.com/schmopera" target=_blank class="donate _patreon">Support us <span>on Patreon</span> </a>
    <a href="https://paypal.me/schmopera" target=_blank class="donate _paypal">Contribute <span>via PayPal</span> </a>
    <a href="#" class="opt-out">No Thanks</a>
  </nav>
</div>