{{/*

  {# ------------------------------------------------------- #}
  {# PARTIAL TEMPLATE: FOOTER                                #}
  {# ------------------------------------------------------- #}
  
*/}}

<footer class="page--footer">
  <div class="container">
    <a href="/" class="site-branding" title="Back to home page"><h1>{% block title %}{ site_title|default('Schmopera') }{% endblock %}</h1></a>
    <section class="footer--posts">
      <h3>Recent Posts</h3>
      <ul class="post--list __micro">
      {{ range first 6 (where $.Site.Pages "Type" "articles") }}
        <li>
            <a href="{{.Permalink}}" class="post--list-title">
              <em class="post--list-meta-date">{{.Date.Format "01.02.06"}}</em>
              <h4>{{.Title | htmlUnescape }}</h4>
            </a>
        </li>
      {{ end }}
      </ul>
    </section>
    <section class="footer--info">
      <h3>More info</h3>
      <nav>
          <ul>
            <li><a href="/about/">About Schmopera</a></li>
            <li><a href="/authors/">Our Authors</a></li>
            <li><a href="/about/contact/">Contact information</a></li>
            <li><a href="/about/contribute/">Contribute</a></li>
            <li><a href="/about/advertising/">Advertising</a></li>
            <li><a href="/about/media-relations/">Media Relations</a></li>
          </ul>

          <h3>Social</h3>
          <ul>
            <li><a href="https://www.facebook.com/schmopera" class="social--facebook">Facebook</a></li>
            <li><a href="https://www.twitter.com/schmopera" class="social--twitter">Twitter</a></li>
            <li><a href="https://www.youtube.com/channel/UCbNNVvl8UZY-3ghpG2YhTtg" class="social--youtube">Youtube</a></li>
          </ul>
      </nav>
    </section>
  </div>
  <section class="footer--about">
      <div class="container">
        <img
          class="lazyload footer--about-profile"
          data-src="/images/jenna.jpg" alt="{ object.name }"
          alt="Jenna's Profile"
          >
        <div class="footer--about-info">
          <p class="footer--about-info-hero">Schmopera is the brainchild of <strong>Jenna Simeonov</strong></p>
            <p>Jenna is the editor and co-creator of Schmopera.com. She's a pianist and vocal coach, and her work in opera allows her to present a truly insider look at the industry and its artists. Jenna is also a contributor for The Globe and Mail and Opera Canada magazine.</p>
          <!--  
          <ul class="footer--about-info-social">
            <li><a href="https://www.facebook.com/jenna.douglas.509" class="social--facebook"><i class="icon-facebook"></i></a></li>
            <li><a href="https://twitter.com/jennamariepiano" class="social--twitter"><i class="icon-twitter"></i></a></li>
          </ul>
          -->
        </div>
      </div>
  </section>
</footer>
{{- partialCached "meganav.html" . -}}
{{- partialCached "donate.html" . -}}
