<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% block title %}{ site_title|default('Schmopera') }{% endblock %}</title>
<meta name="description" content="{% block og_description %}{ site_description }{% endblock %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#00a9e0">

<meta property="og:site_name" content="Schmopera">
<meta property="og:title" content="{% block og_title %}Schmopera.com{% endblock %}">
<meta property="og:type" content="{% block og_type %}website{% endblock %}">
<meta property="og:url" content="{% block og_url %}{ site_url }{% endblock %}">
<meta property="og:image" content="{% block og_image %}{ site_url }/static/images/logo.png{% endblock %}">
<meta property="og:description" content="{% block og_description %}{ site_description }{% endblock %}">

<link rel="canonical" href="{% block og_url %}{ site_url }{% endblock %}" />

<link rel="shortcut icon" href="/static/images/favicon.png">
<link rel="apple-touch-icon" href="/static/images/touch-icon.png">

{{ $style := resources.Get "sass/schmopera.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">