{{/* ------------------------------------------------------- 
    
    PARTIAL TEMPLATE: HEADER

------------------------------------------------------------ */}}

<header class="page--header">
  <a href="/"  class="site-branding" title="Back to home page"><h1>Schmopera</h1></a>

  <nav class="nav--jump">
    <a href="#nav-primary" class="nav--icon nav--primary-toggle" target=_self title="Primary Navigation"><i class="icon-menu"></i><i class="icon-cancel"></i></a>
  </nav>

  <nav class="nav--sections" id="nav--sections">
    <ul>
      <li><h4><a href="/">The Blog</a></h4></li>
      <li><a href="/articles/">Articles</a></li>
      <li><a href="{ url('videos') }">Videos</a></li>
      <!-- <li><a href="/about/contribute/">Contribute</a></li> -->
    </ul>
    <ul>
      <li><h4><a href="{ url('scene') }">The Scene</a></h4></li>
      <li><a href="{ url('companies') }">Companies</a></li>
      <li><a href="{ url('people') }">People</a></li>
    </ul>
    <ul>
      <li><h4><a href="http://store.schmopera.com/">The Store</a></h4></li>
      <li><a href="https://www.facebook.com/schmopera/shop/?cid=1703249406614480">Hoodies</a></li>
      <li><a href="https://www.facebook.com/schmopera/shop/?cid=1703249419947812">T-Shirts</a></li>
    </ul>
  </nav>
</header>