{{/*

    {# ------------------------------------------------------- #}
    {# PARTIAL TEMPLATE: NEWSLETTER SIGNUP                     #}
    {# ------------------------------------------------------- #}
    
  */}}

<section class="newsletter--signup">
  <h3 class="pill">Schmopera Newsletter</h3>
  <p>Interested in getting a monthly recap of all the interesting things happening in the land of opera? Sign up to our newsletter and we'll be happy to send one out to you!</p>
  <form action="//schmopera.us10.list-manage.com/subscribe/post?u=acc090fc4003be504d2de2de7&amp;id=740308c52c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <fieldset>
      <label for="mce-EMAIL">Email Address</label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="youremail@address.com">
      <button type="submit" id="mc-embedded-subscribe"><i class="icon-arrow-right"></i></button>
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_acc090fc4003be504d2de2de7_740308c52c" tabindex="-1" value=""></div>
    </fieldset>
  </form>
</section>