{{/*

  {# ------------------------------------------------------- #}
  {# PARTIAL TEMPLATE: PAGINTAION                            #}
  {# ------------------------------------------------------- #}
  
*/}}

{{ $paginator := .Paginate (where .Data.Pages "Type" "articles") }}

{{ range $paginator.Pages }}
  <a href="{{ .Permalink }}" class="post--list-item">
    <section>
      <header class="post--list-header">
        <picture class="post--list-image">
          {{ $imgsm := replace .Params.primary_image "/upload/" "/upload/w_740,h_490,c_fill,g_faces/" }}
          {{ $imglg := replace .Params.primary_image "/upload/" "/upload/w_1480,h_980,c_fill,g_faces/" }}
          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkkAQAAB8AG7jymN8AAAAASUVORK5CYII=" data-srcset="{{ $imgsm }} 1x, {{ $imglg }} 2x" alt="{{ .Title | htmlUnescape }}" media="(min-width: 40em)" class="lazyload">
        </picture>
        <div class="post--list-title">
          <h1><span title="{{ .Title | htmlUnescape }}">{{ .Title | htmlUnescape }}</span></h1>
          {{ with .Params.categories }}
          <em class="post--meta-category">{{ . }}</em>
          {{ end }}
        </div>
      </header>
      
      <p class="post--list-desc">{{ .Params.short_description | htmlUnescape }}</p>

      <footer class="post--list-meta">
        {{ with .Params.author }}
          {{ range $author := . }}
            {{ with $.Site.GetPage "page" $author }}
            <picture class="post--meta-author_image">
              {{ $imgsm := replace .Params.primary_image "/upload/" "/upload/w_40,h_40,c_fill,g_face/" }}
              {{ $imglg := replace .Params.primary_image "/upload/" "/upload/w_80,h_80,c_fill,g_face/" }}
              <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII=" data-srcset="{{ $imgsm }} 1x, {{ $imglg }} 2x" alt="{{ .Title | htmlUnescape }}" media="(min-width: 40em)" class="lazyload">
            </picture>
            <em>{{ .Title }}</em>
            {{ end }}
          {{ end }}
        {{ end }}
        - {{ .Date.Format "Jan 2, 2006" }}
      </footer>
    </section>




        {{/*
          
          TODO:

          {% if object.publish_date %}
          <em class="post--meta-date">{{ object.publish_date|date('F d, Y') }}</em>
          {% endif %}
          {% if object.authors %}
          <em class="post--meta-author">{{ object.authors[0].name }}</em>
          {% endif %}
          {% if object.youtube_url %}
            <em class="post--meta-type meta-type_video">Video</em>
          {% else %}
            {% if object.category|size !== 0 %}
            <em class="post--meta-category">{{ object.category.name }}</em>
            {% endif %}
          {% endif %}
        </span>
        */}}




  </a>
{{ end }}



<!--
//
//  PAGE NUMBERS
//––––––––––––––––––––––––––––––––––––––––––––––––––
-->
{{ $paginator := .Paginator }}

<!-- Number of links either side of the current page. -->
{{ $adjacent_links := 2 }}

<!-- $max_links = ($adjacent_links * 2) + 1 -->
{{ $max_links := (add (mul $adjacent_links 2) 1) }}

<!-- $lower_limit = $adjacent_links + 1 -->
{{ $lower_limit := (add $adjacent_links 1) }}

<!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
{{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}

<!-- If there's more than one page. -->
{{ if gt $paginator.TotalPages 1 }}

  <ul class="pagination">
    
    <!-- First page. 
    {{ if ne $paginator.PageNumber 1 }}
    <li class="pagination__item pagination__item--first">
      <a class="pagination__link pagination__link--first" href="{{ $paginator.First.URL }}">
        ««
      </a>
    </li>
    {{ end }}
    -->

    <!-- Previous page. -->
    {{ if $paginator.HasPrev }}
    <li class="pagination__item pagination__item--prev">
      <a href="{{ $paginator.Prev.URL }}" class="pagination__link pagination__link--prev">
        <i class="icon-arrow-left"></i>
        <span>Prev Page</span>
      </a>
    </li>
    {{ end }}
  
    <!-- Page numbers. -->
    {{ range $paginator.Pagers }}
    
      {{ $.Scratch.Set "page_number_flag" false }}

      
      <!-- Advanced page numbers. -->
      {{ if gt $paginator.TotalPages $max_links }}


        <!-- Lower limit pages. -->
        <!-- If the user is on a page which is in the lower limit.  -->
        {{ if le $paginator.PageNumber $lower_limit }}

          <!-- If the current loop page is less than max_links. -->
          {{ if le .PageNumber $max_links }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}


        <!-- Upper limit pages. -->
        <!-- If the user is on a page which is in the upper limit. -->
        {{ else if ge $paginator.PageNumber $upper_limit }}

          <!-- If the current loop page is greater than total pages minus $max_links -->
          {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}


        <!-- Middle pages. -->
        {{ else }}
          
          {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber $adjacent_links) ) }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}

        {{ end }}

      
      <!-- Simple page numbers. -->
      {{ else }}

        {{ $.Scratch.Set "page_number_flag" true }}

      {{ end }}

      <!-- Output page numbers. -->
      {{ if eq ($.Scratch.Get "page_number_flag") true }}
        <li class="pagination__item{{ if eq . $paginator }} pagination__item--current{{ end }}">
          <a href="{{ .URL }}" class="pagination__link">
            {{ .PageNumber }}
          </a>
        </li>
      {{ end }}

    {{ end }}

    <!-- Next page. -->
    {{ if $paginator.HasNext }}
    <li class="pagination__item pagination__item--next">
      <a href="{{ $paginator.Next.URL }}" class="pagination__link pagination__link--next">
        <span>Next Page</span>
        <i class="icon-arrow-right"></i>
      </a>
    </li>
    {{ end }}

    <!-- 
    {{ if ne $paginator.PageNumber $paginator.TotalPages }}
    <li class="pagination__item pagination__item--last">
      <a class="pagination__link pagination__link--last" href="{{ $paginator.Last.URL }}">
        »»
      </a>
    </li>
    {{ end }}
    Last page. -->

  </ul><!-- .pagination -->
{{ end }}