{{/*

  {# ------------------------------------------------------- #}
  {# PARTIAL TEMPLATE: PAGINTAION                            #}
  {# ------------------------------------------------------- #}
  
*/}}

{{ $paginator := .Paginate (where .Data.Pages "Type" "articles") }}

<ul class="post--list">
  {{ range $paginator.Pages }}
    <li>
      <a href="{{ .Permalink }}" class="post--list-title"><h1>{{ .Title | htmlUnescape }}</h1></a>
      <a href="{{ .Permalink }}" class="post--list-image">
        {{/* 
          TODO:

          {% set srcset = object.primary_image|imageCrop(680, 680) + ", " +  object.primary_image|imageCrop(1360, 1360) + " 2x" %}
          <picture>
            <source srcset="{{ srcset }}" media="(min-width: 40em)">
            <img src="{{ object.primary_image|imageCrop(400, 400) }}" alt="{{ object.name }}">
          </picture>

        */}}

        <picture>
          {{ $img := replace .Params.primary_image "/upload/" "/upload/c_scale,w_1360/c_crop,g_faces:auto,w_1360,h_760/" }}
          <img src="" data-src="{{ $img }}" alt="{{ .Title | htmlUnescape }}" class="lazyload">
        </picture>

        <span class="post--meta">
          {{ with .Params.author }}
            {{ range $author := . }}
              {{ with $.Site.GetPage "page" $author }}
              <em class="post--meta-author">{{ .Title }}</em>
              {{ end }}
            {{ end }}
          {{ end }}
        </span>

        {{/*
          
          TODO:

          {% if object.publish_date %}
          <em class="post--meta-date">{{ object.publish_date|date('F d, Y') }}</em>
          {% endif %}
          {% if object.authors %}
          <em class="post--meta-author">{{ object.authors[0].name }}</em>
          {% endif %}
          {% if object.youtube_url %}
            <em class="post--meta-type meta-type_video">Video</em>
          {% else %}
            {% if object.category|size !== 0 %}
            <em class="post--meta-category">{{ object.category.name }}</em>
            {% endif %}
          {% endif %}
        </span>
        */}}
      </a>

      <p class="post--list-desc">{{ .Params.short_description | htmlUnescape }}</p>

      {{/*
      {% if object.youtube_url %}
        <a href="{{ url(object) }}" class="btn post--button">Watch Video</a>
      {% else %}
        <a href="{{ url(object) }}" class="btn post--button">Read More</a>
      {% endif %}
      */}}
      
    </li>
    {{ end }}
</ul>


<!--
//
//  PAGE NUMBERS
//––––––––––––––––––––––––––––––––––––––––––––––––––
-->
{{ $paginator := .Paginator }}

<!-- Number of links either side of the current page. -->
{{ $adjacent_links := 2 }}

<!-- $max_links = ($adjacent_links * 2) + 1 -->
{{ $max_links := (add (mul $adjacent_links 2) 1) }}

<!-- $lower_limit = $adjacent_links + 1 -->
{{ $lower_limit := (add $adjacent_links 1) }}

<!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
{{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}

<!-- If there's more than one page. -->
{{ if gt $paginator.TotalPages 1 }}

  <ul class="pagination">
    
    <!-- First page. -->
    {{ if ne $paginator.PageNumber 1 }}
    <li class="pagination__item pagination__item--first">
      <a class="pagination__link pagination__link--first" href="{{ $paginator.First.URL }}">
        ««
      </a>
    </li>
    {{ end }}

    <!-- Previous page. -->
    {{ if $paginator.HasPrev }}
    <li class="pagination__item pagination__item--previous">
      <a href="{{ $paginator.Prev.URL }}" class="pagination__link pagination__link--previous">
        «
      </a>
    </li>
    {{ end }}
  
    <!-- Page numbers. -->
    {{ range $paginator.Pagers }}
    
      {{ $.Scratch.Set "page_number_flag" false }}

      
      <!-- Advanced page numbers. -->
      {{ if gt $paginator.TotalPages $max_links }}


        <!-- Lower limit pages. -->
        <!-- If the user is on a page which is in the lower limit.  -->
        {{ if le $paginator.PageNumber $lower_limit }}

          <!-- If the current loop page is less than max_links. -->
          {{ if le .PageNumber $max_links }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}


        <!-- Upper limit pages. -->
        <!-- If the user is on a page which is in the upper limit. -->
        {{ else if ge $paginator.PageNumber $upper_limit }}

          <!-- If the current loop page is greater than total pages minus $max_links -->
          {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}


        <!-- Middle pages. -->
        {{ else }}
          
          {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber $adjacent_links) ) }}
            {{ $.Scratch.Set "page_number_flag" true }}
          {{ end }}

        {{ end }}

      
      <!-- Simple page numbers. -->
      {{ else }}

        {{ $.Scratch.Set "page_number_flag" true }}

      {{ end }}

      <!-- Output page numbers. -->
      {{ if eq ($.Scratch.Get "page_number_flag") true }}
        <li class="pagination__item{{ if eq . $paginator }} pagination__item--current{{ end }}">
          <a href="{{ .URL }}" class="pagination__link">
            {{ .PageNumber }}
          </a>
        </li>
      {{ end }}

    {{ end }}

    <!-- Next page. -->
    {{ if $paginator.HasNext }}
    <li class="pagination__item pagination__item--next">
      <a href="{{ $paginator.Next.URL }}" class="pagination__link pagination__link--next">
        »
      </a>
    </li>
    {{ end }}

    <!-- Last page. -->
    {{ if ne $paginator.PageNumber $paginator.TotalPages }}
    <li class="pagination__item pagination__item--last">
      <a class="pagination__link pagination__link--last" href="{{ $paginator.Last.URL }}">
        »»
      </a>
    </li>
    {{ end }}

  </ul><!-- .pagination -->
{{ end }}