{{/*

  {# ------------------------------------------------------- #}
  {# INDIVIDUAL VIEW FOR EACH PERSON                         #}
  {# ------------------------------------------------------- #}
  
*/}}

{{/* meta data */}}

{{- define "og_title" -}}{{ .Title | htmlUnescape }}{{- end -}}
{{- define "og_type" -}}profile{{- end -}}
{{- define "og_url" -}}{{ .Permalink }}{{- end -}}
{{- define "og_image" -}}{{ replace .Params.primary_image "/upload/" "/upload/w_740,h_740,c_fill,g_face/" }}{{- end -}}
{{- define "og_description" -}}{{ .Summary }}{{- end -}}

{{- define "main" -}}

{{- /*

  TODO

  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "mainEntityOfPage":{
      "@type":"WebPage",
      "@id":"http://www.schmopera.com"
    },
    "headline": "{{ .Title }}",
    "image": {
      "@type": "ImageObject",
      "url": "{ item.primary_image|imageCrop(800, 800) }",
      "height": 800,
      "width": 800
    },
    "datePublished": "{ item.publish_date }",
    "dateModified": "{ item.publish_date }",
    "author": {
      {% for relation in item.authors %}
        "@type": "Person",
        "name": "{ relation.name }"
      {% endfor %}
    },
     "publisher": {
      "@type": "Organization",
      "name": "Schmopera",
      "logo": {
        "@type": "ImageObject",
        "url": "http://www.schmopera.com/static/images/logo.png",
        "width": 800,
        "height": 800
      }
    },
    "description": "{ item.short_description }"
  }
  </script>

*/ -}}

  <article class="scene--single __person">
    <header class="scene--single_masthead">
      {{ $type := (split .File.Dir "/") }}
      <h1 class="pill"><a href="/authors/">Authors</a></h1>
      <h1 class="pill ___sub">{{ .Title | htmlUnescape }}</h1>
    </header>

    <section class="scene--single_hero">
      <a href="{{ .Params.primary_image }}" rel="lightbox" data-lightbox='{{ replace .Params.primary_image "/upload/" "/upload/w_1360,h_1360,c_fill,g_face/" }}' title="{{ .Title }}{{ with .Params.primary_image_credit }} - Photo by {{ . }} {{ end }}">
        <figure>
          <picture>
            {{- $imgsm := replace .Params.primary_image "/upload/" "/upload/w_300,h_300,c_fill,g_face/" -}}
            {{- $imglg := replace .Params.primary_image "/upload/" "/upload/w_600,h_600,c_fill,g_face/" }}
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkkAQAAB8AG7jymN8AAAAASUVORK5CYII=" data-srcset="{{ $imgsm }} 1x, {{ $imglg }} 2x" alt="{{ .Title | htmlUnescape }}" media="(min-width: 40em)" class="lazyload">
          </picture>      

          {{- with .Params.primary_image_credit }}
          <figcaption>{{ . }}</figcaption>
          {{- end }}
        </figure>
      </a>

      <div class="single--scene_meta">
        <h3>{{ .Params.discipline }}</h3>

        {{ if .Params.social_media }}
        <nav class="nav--share">
        {{ if .Params.website }}
        <a href="{{ .Params.website }}" class="social--web pill" target="_blank"><i class="icon-web"></i>Website</a>
        {{ end }}
        {{ range .Params.social_media }}
          <a href="{{ .url }}" class="pill social--{{ .platform|lower }}" target="_blank"><i class="icon-{{ .platform|lower }}"></i>{{ .platform }}</a>
        {{ end }}
        </nav>
        {{ end }}
      </div>
    </section>

    <section class="scene--single_bio">
      {{ .Content }}

      <div class="disclaimer">
        <h2>Heads up!</h2>
        <p>We're still fixing a few things on the site.</p>
        <p>Unfortunately, that means that the list of articles this author has written is not available right now. Please check back soon and we should have this sorted!</p>
      </div>
    </section>


    
    {{/*

  {# Adspot 1 #}
    <section class="scene--single_adspot">
{% include "templates/partials/ad-spot1.html" %}
    </section>

  {# Related Content #}
    {% if item.related_articles|size !== 0 || item.related_videos|size !== 0 %}
    {% set relitems = merge(item.related_articles, item.related_videos) %}
    {% set relitems = relitems|sort('publish_date', true) %}
    <section class="scene--single_related">
      <h2 class="pill">Schmopera says...</h2>
      <ul class="post--list __mini">
        {% for relation in relitems %}
        <li>
          <a href="{{ url(relation) }}" class="post--list-title">
            {% set srcset = relation.primary_image|imageCrop(100, 100) + ", " +  relation.primary_image|imageCrop(200, 200) + " 2x" %}
            <picture>
              <source srcset="{{ srcset }}" media="(min-width: 40em)">
              <img src="{{ relation.primary_image|imageCrop(100, 100) }}" alt="{{ relation.name }}">
            </picture>

            <h1>{{ relation.name }}</h1>

            <p class="post--list-desc">{{ relation.short_description }}</p>

            {% if relation.youtube_url %}
              <span class="btn post--button">Watch Video</span>
            {% else %}
              <span class="btn post--button">Read More</span>
            {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>
    {% endif %}

  {# People and Companies - The Scene #}
    {% if item.related_companies|size !== 0 %}
    <section class="scene--single_companies">
      <h2 class="pill">Related Companies</h2>
      <nav class="scene--list __micro __full">
        <ul>
        {% for relation in item.related_companies %}
          <li><a href="{{ url(relation) }}"><img src="{{ relation.photo|imageCrop(200, 200) }}" alt="Logo"><span>{{ relation.name }}</span></a></li>
        {% endfor %}
        </ul>
      </nav>
    </section>
    {% endif %}

  {# Thumbnail gallery #}
    {% if item.gallery|size !== 0 %}
    <section class="post--single_gallery">
      <h2 class="pill">Gallery</h2>

      <ul class="gallery">
      {% for image in item.gallery %}
        <li>
          {# You can get the raw image url by accessing image.url #}
          <a href="{{ image.url }}" data-lightbox="{{ image|imageSize(1360, 1360) }}" rel="lightbox" title="{{ image.caption }}">
            <img src="{{ image|imageCrop(200, 200) }}" alt="{{ image.caption }}">
          </a>
        </li>
      {% endfor %}
      </ul>
    </section>
    {% endif %}
  */}}

    <script>
      document.addEventListener('DOMContentLoaded', function() { initGallery(); });
    </script>
  </article>

{{- end -}}